<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz./thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>Add Form</title>
</head>
<body>
<div class="container" layout:fragment="content">

    <div style="padding-top:1em;" class="container">
        <div style="margin-bottom: 1em;">
            <span style="font-size: 2em; color: #32a5e7;">New Book Form</span>
        </div>

        <form id="newStudentForm" method="post" action="/eregistrar/student/new" th:object="${student}">
            <fieldset>
                <input type="hidden" name="studentId" th:value="${student.studentId}"/>
                <div class="row">
                    <div class="col-md-6">
                        <label for="studentNumber">Student Number</label>
                        <span th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}"
                              class="alert alert-danger"></span>
                        <input id="studentNumber" name="studentNumber" type="text" class="form-control" th:value="${student.studentNumber}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="firstName">Student FirstName</label>
                                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                      class="alert alert-danger"></span>
                                <input id="firstName" name="firstName" type="text" class="form-control"
                                       th:value="${student.firstName}" autofocus required>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="firstName">Student Middle Name</label>
                                <span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"
                                      class="alert alert-danger"></span>
                                <input id="middlename" name="middlename" type="text" class="form-control"
                                       th:value="${student.middleName}" autofocus required>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Student LastName</label>
                            <span th:if="${#fields.hasErrors('LastName')}" th:errors="*{lastName}"
                                  class="alert alert-danger"></span>
                            <input id="lastName" name="lastName" type="text" class="form-control"
                                   th:value="${student.lastName}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cgpa">CGPA</label>
                            <span th:if="${#fields.hasErrors('cgpa')}" th:errors="*{cgpa}"
                                  class="alert alert-danger"></span>
                            <input id="cgpa" name="cgpa" type="text" class="form-control"
                                   aria-describedby="cgpa" placeholder="0.00"
                                   th:value="${student.cgpa}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="enrollmentDate">Date Enrollment</label>
                            <span th:if="${#fields.hasErrors('enrollmentDate')}" th:errors="*{enrollmentDate}"
                                  class="alert alert-danger">
                            </span>
                            <input id="enrollmentDate" name="enrollmentDate" type="date" class="form-control"
                                   th:value="${student.enrollmentDate}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <select name="isInternational"
                                id="isInternational" type="text"
                                class="form-control" th:value="${student.isInternational}">
                            <option value="">isInternational Yes/No?
                            </option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>

                <div style="float:right;">
                    <a href="/eregistrar/student/list" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                    <button id="btnSubmit" type="submit" class="btn btn-outline-success">Save Student</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

</body>
</html>