<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/slate/bootstrap.min.css"
          integrity="sha384-idNH3UIOiZbCf8jxqu4iExnH34y5UovfW/Mg8T5WfNvoJolDvknoNqR69V2OexgF" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Homib-TCMS</title>
</head>
<body>
<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/login/home">Homib Trucking Company</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/login/home">Home<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login/contact/page">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/about/page">About us</a>
                </li>

            </ul>

        </div>
    </nav>
</header>
<h4 style="  text-decoration-color: #000052; background: cyan"; >This page contains information about out Company.</h4>
<img src="/static/images/about.png" th:src="@{/images/about.jpg}" style=" width: 100% ; height: 400px; border-radius: 5px">


<div class="col-xs-4 text-left">
    <p style="background: cyan">What we do?

        We are your one-stop-shop for everything you need to run your transportation and freight logistics business. Our website allows you to post load or find trucks,<br> post trucks or find loads, look up carrier profiles, buy trucks, find jobs, browse useful information and even invoice your customers for the work you do.

        Why choose QuickTSI?

        Cost Savings: The main things users want from a website service is simplicity and affordability. The QuickTSI website has been built entirely around this understanding,<br> so we have kept our prices affordable and in many cases offered many services for free.

        Time Saving: With us you get all the information you need to run your business easily so you can spend more time on growing your business rather than trying to find this information from multiple sources.

        Customer Service: We believe in growing with our customers. So your success is our success. We work hard to actively listen to our customers. We respond in a timely manner<br> to emails and phone calls and try to address any issues to the best of our ability.</p>
</div>
</body>
</html>