<!DOCTYPE html>
<html data-layout-decorator="layouts/driver-layout"
      xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://ultraq.net.nz./thymeleaf/layout"-->
<!--      layout:decorate="~{layouts/main-layout}">-->
<head>
    <meta charset="UTF-8">
    <title>Homib-TCMS</title>
</head>
<body>
<th:block layout:fragment="content">
    <!--<div class="container" layout:fragment="content">-->
    <h1>Successfully Emailed to Fleet Dispatchers</h1>

</th:block>
<!--</div>-->
</body>
</html>