@charset "utf-8";
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}
footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    line-height: 50px; /* Vertically center the text there */
    background-color: #000052;
}

tr.datarow {
    cursor: pointer;
}

.bk{
    background-image: url('images/truck1.jpg');
}